extends layout

block content
    .container
        h1= name        
        p I am #{age} years old. I was born in #{birthPlace} in the year #{birthYear}. I love #{interests}.
            if relation
               p I am Yesha's #{relation}.

        